---
import "$lib/styles/app.css";

import { Toaster } from "$lib/components/ui/sonner";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  heading?: string;
  class?: string;
}

const { title, heading, class: className } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <ViewTransitions />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Toaster client:only="svelte" />

    <main
      class:list={[
        "container flex min-h-screen flex-col items-center justify-center",
      ]}
    >
      {
        heading && (
          <h1
            class="my-4 scroll-m-20 text-center text-4xl font-extrabold tracking-tight"
            transition:animate="fade"
          >
            {heading}
          </h1>
        )
      }
      <div class:list={className} transition:animate="slide">
        <slot />
      </div>
    </main>
  </body>
</html>
